
* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.div-container {
    width: 100%;
    height: 80vh;
    background-color: rgb(245, 239, 239);
    display: flex;
    /* align-items: center; */
    justify-content:center;
}


.div-banner {
    /* height: 70px; */
    height: 15vh;
    width: 98%;
    /* opacity: 50%; */
    background-color: rgba(221, 224, 224, 0.815);
    align-self: center;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items:end; */
    /* align-content: start;
    justify-content:left; */

}

.div-logo{
    padding: 4px;

}


.main-logo{
    width: 130px;
    height:60px;
    /* background-color: black; */
}

.div-banner-text{
    padding: 3px;
    height: 50px;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.banner-heaa-name {
    font-size: 3vw;
}

.banner-heaa-message {
font-size: 2vw;
    
}

.div-userMessages {
    background-color: rgb(245, 239, 239);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.div-infos {
    padding: 10px;
    width: 380px;
    max-width: 500px;
    height: 350px;
    /* background-color: rgba(214, 210, 210, 0.801); */
    border-radius: 20px;
    border-style:solid;
    border-width: 1px;
    border-color: rgba(113, 116, 116, 0.144);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.div-infos-group {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.div-extra-infos {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 30px;
}

#input-cpf{
   
    margin-bottom: 40px;
}

#cpf-check-message {
    font-weight: 500;
    color: rgb(224, 15, 15);
    font-size: 10px;
}

#input-name {
    text-transform:uppercase;
}

input{

    padding-left: 10px;
    background-color: rgb(213, 218, 218);
    border-radius: 10px;
    border: none;
    border-style: hidden;
    font-size: 12px;
    text-align: left;
    width: 60%;
    height: 24px;
    display: block;
}

input:disabled{
    background-color: rgba(126, 126, 128, 0.384);
}

input:focus{
    color: rgb(0, 0, 0);
    background-color: rgb(240, 233, 233);
}


label {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: left;

}


#label-cpf {
    margin-bottom: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: left;

}

select {
    font-size: 12px;
    border-radius: 20px;
    width: 60%;
    height: 20px;
}