.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
}

/* Main Menu */
.div-container-top-menu {
    overflow: hidden;
    background-color: #333;
    width: 23%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/* Sub Menu */
.div-container-sub-menu {
    overflow: hidden;
    background-color: #333;
    width: 23%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.div-container-sub-menu a {
    
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.div-container-sub-menu a:hover {
    background-color: #ddd;
    color: black;
}


.div-container-sub-menu a.active-menu {
    background-color: #04AA6D;
    color: white;
}

.div-container-sub-menu .icon {
    display: none;
}

.div-container-top-menu a {
    
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.div-container-top-menu a:hover {
    background-color: #ddd;
    color: black;
}

.div-container-top-menu a.active-menu {
    background-color: #04AA6D;
    color: white;
}

.div-container-top-menu .icon {
    display: none;
}
.p-menu {
    text-align: center;
    border-right: 30px;
    padding: 6px;
    background-color: #b6b9b9;
    user-select: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding-left: 20px;
}

.p-menu:hover{
    color: #fafafa;
    background-color: #161815;
    }

.p-menu:active{
    color: rgb(255, 255, 255);
}

/* Main Form Data */
.status-pending {
    font-weight: 600;
    color: #f4f4f4;
    text-align: center;
    background-color:rgb(148, 11, 27);
}

.status-done{
    font-weight: 600;
    color: #f4f4f4;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(43, 112, 34);
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 6px;
}

.user-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

#td-username {
    text-transform: capitalize;
}

.mother-name {
    text-transform: capitalize;
}